.main {
    background-image: none;
    background-color: white;
    height: 600px;

}

.colorsContainer {
    display: flex;
    height: 100px;
    font-size: 2em;
    position: fixed;
    bottom: 70%;
    left: 15%;
    text-align: center;
    justify-items: space-around;

}

.champagne {
    font-weight:bold;
    color: #0b3c49;
    padding: 20px;
    margin: 15px;
    text-decoration: none;
}

.mauve {
    font-weight:bold;
    padding: 20px;
    margin: 15px;
    text-decoration: none;
}

.xanadu {
    font-weight:bold;
    padding: 20px;
    margin: 15px;
    text-decoration: none;
}

.midnight-green-eagle-green {
    font-weight:bold;
    padding: 20px;
    margin: 15px;
    text-decoration: none;
}

.gunmetal {
    font-weight:bold;
    padding: 20px;
    margin: 15px;
    text-decoration: none;
}

.backHome {
    font-weight:bold;
    padding: 20px;
    margin: 15px;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}