.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 10px;
    color:#5E565a;
    background-color: #cfdee7;

}

.title {
    display: flex;
    font-size: 1.5em;
    padding: 15px;
    margin: 10px;
    border: 1px solid #333232;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:link {
    color:#5E565A;

}

a:visited {
    color:#5E565A;
    }
a:hover {
    cursor: pointer;
}